# Frontend URL 
FRONTEND_URL=

# Database URL
DATABASE_URL=

# JWT CONFIGURATION

JWT_SECRET=
JWT_EXPIRESIN=

# Localhost PORT

PORT=3000

# Gemini API credentials

GEMINI_API_KEY=
GEMINI_MODEL=

# GOOGLE OAUTH CREDENTIALS

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALLBACK_URL=
FRONTEND_URL=

# AWS CREDENTIALS

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=
AWS_BUCKET_NAME=